<!--

Get geolocalisation.

-->

<ion-view view-title="Delivery Addres">
    <ion-content padding="true" class="has-header">

    	<div class="list list-inset">
		  <label class="item item-input">
		    <i class="icon ion-search placeholder-icon"></i>
		    <input type="text" placeholder="Search">
		  </label>
		</div>
		<!--<div ng-show="adress=[]">
			You don't have any adress save one to deliver !
		</div>
<!--
		<div style="position: absolute; bottom: 50px; width: 100%">
			<button class="button button-stable button-block " >Save new adress</button>
		</div>
-->
    </ion-content>
</ion-view>



