

<ion-view view-title="Your reserves">
    <ion-content padding="true" class="has-header">

    	<h2 align="center" class="padding-vertical=100px">You have :</h2>
    	<h2 align="center">25 Perfect cal<i class="icon ion-flash"></i></h2>
    	<h2 align="center">On your Acount.</h2>
        


    	
	</ion-content>
	<div style="position: absolute; bottom: 50px; width: 100%">
        	<button class="button button-balanced button-block"><i class="icon ion-loading-c"></i> Buy more!</button>
        	<button class="button button-stable button-block " >Use coupon code</button>
    </div>
</ion-view>

